<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h1>Editing Book</h1>

      <% if @book.errors.any? %>
        <%= @book.errors.count %>error(s) prohibited this obj from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
      
      <%= form_with model: @book ,class: "form-horizontal" do |f| %>
        
        <div class="form-group">
          <label for="inputtitle">Title</label><br>
          <%= f.text_field :title, autofocus: true %>
        </div>
        <div class="form-group">
          <label for="inputbody">Opinion</label><br>
          <%= f.text_field :body %>
        </div>
        <div class="form-group">
          <%= f.submit "Update Book" , class: "btn btn-success btn-sm" %>
        </div>
      <% end %>
      
      <div>
        <%= link_to "Show",book_path(@book.id) %>
        <a> | </a>
        <%= link_to "Back",books_path %>
      </div>
      
    </div>
  </div>
</div>

